* {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
  background-image: linear-gradient(to right, white, #058e8e);
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
}

img {
  width: 100px;
}
h1{
  margin-top: 0;
}
h1 span {
  color: #058e8e;
}
form p{
  margin-top: 0;
}
div.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

input {
  padding: 6px;
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 30px;
  background-color: aliceblue;
}

button {
  padding: 20px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #058e8e, #058e8e, rgb(30, 198, 126));
  border: none;
  width: 313px;
  height: 30px;
}

#sing-in{
  color: rgb(107, 107, 107);
}

#sing-in a {
  text-decoration: none;
  color: #058e8e;
}